 <div class="row"> 
  	<div class="col-xs-10 col-xs-push-1">
		<h2 class="white">Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email, class: 'white' %><br />
		    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
		    <br />
		  </div>

		  <div class="actions">
		    <%= f.submit "Send", class: 'button' %>
		    <br /> <br />
		  </div>
		<% end %>

		<%= render "users/shared/links" %>
	</div>
</div>
